<div class="chat">
  <div class="chat-body">
    <div class="messages-container" id="messageContainer" #messageContainer (scroll)="scroll(messageContainer)">
      <div *ngFor="let message of messages; let i = index"
           [id]="i"
           [ngClass]="message['userName'] == user.userName ? 'own-chat-message' : 'chat-message'">
        <div class="d-flex flex-column">
          <div *ngIf="message['userName'] !== user.userName"
               class="fw-700 f-16">{{message!['userName']}}</div>
          <div class="message-body f-13 fw-400">{{message!['message']}}</div>
        </div>
        <div class="f-9">{{message!['time']}}</div>
      </div>
    </div>
    <div
      *ngIf="messageCountLimit === 5"
      class="f-10 limit-text text-red">
      The websocket that managing this chat is crap, so you are limited to 5 messages...
      you can go again in: <span class="fw-700 f-12">{{messageTimer}}</span></div>
    <form [formGroup]="chatForm" class="chat-form">
      <div class="d-flex col-12"
           [ngClass]="(messageContainer.scrollHeight - messageContainer.clientHeight) - messageContainer.scrollTop >= 200 ? 'justify-content-between' : 'justify-content-end'">
        <button
          *ngIf="(messageContainer.scrollHeight - messageContainer.clientHeight) - messageContainer.scrollTop !>= 200"
          class="round-button-layout bg-blue position-relative l-2 t-3"
          (click)="down(messageContainer)">
          <div *ngIf="newMessages > 0"
               class="notification-dot bg-red position-absolute mb-4 ml-4 f-10">
            {{newMessages}}</div>
          <i class="bi bi-chevron-double-down"></i>
        </button>
        <div class="f-10 mr-4 align-self-end text-grey2"
             [ngClass]="{'text-red' : chatForm.get('message')!.value?.length > messageLength}">
          {{messageLength}}/{{chatForm.get('message')!.value ? chatForm.get('message')!.value.length : 0}}
        </div>
      </div>
      <div class="d-flex col-11">
        <div class="col-12">
          <textarea #input
                    [ngClass]="(messageContainer.scrollHeight - messageContainer.clientHeight) - messageContainer.scrollTop >= 200 ? 'pl-4' : 'pl-1'"
                    id="a"
                    type="text"
                    placeholder="Write a message..."
                    formControlName="message"
                    class="text-area" (keydown.control.enter)="submit(messageContainer, input)"></textarea>
          <div class="f-10 text-grey3 position-relative b-1 l-1">Ctrl+Enter to send</div>
        </div>
        <button class="round-button-layout bg-blue col-1 align-self-end"
                [disabled]="chatForm.invalid|| messageCountLimit === 5 || tinySpinner"
                (click)="submit(messageContainer, input)">
          <i *ngIf="!tinySpinner" class="bi bi-send"></i>
          <i *ngIf="tinySpinner" class="bi bi-arrow-repeat spinner f-22"></i>
        </button>
      </div>
    </form>
  </div>
</div>
