/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

///////////////// scrollbar /////////////////
/////////////////////////////////////////////

* {
  scrollbar-width: thin;
  scrollbar-color: #6b6b6b #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

////////////// main container ////////////////
/////////////////////////////////////////////

.main-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.items-container {
  width: 80%;
}

.pointer {
  background-color: aqua;
  cursor:pointer;
}
